<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ITamas/IdeaProjects/PetStoreAutomation/src/test/java/api/test">
        <classes>
            <class name="api.test.DDTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
            <class name="api.test.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
            <class name="api.test.UserTests2">
                <methods>
                    <include name="testPostUser"/>
                    <include name="testGetUserByName"/>
                    <include name="testUpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>